:root{
    --bg-blue: #93B5C9;
    --bg-wine: #AB2849;
}

html, body {
    margin: 0;
    padding: 0;
/*    box-sizing: border-box; */
}

.caja {
    width: 100%;
    height: 100px;   
    background-color: var(--bg-wine);
}

.caja-1-azul {
    background-color: var(--bg-blue);
}

.caja-2-wine {
    height: 200px;
}

.caja-3-wine {
    width: 75%;
}

.caja-4-wine {
    width: 90%;
    margin: 0px;
    padding: 0px;
}

.caja {
    clear: both;
    float: left;
    margin: 0px;
}

.caja-3-wine {
    float: left;
    margin-right: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.caja-4-wine {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}